{% extends 'base.html' %}

{% block title %}我的收藏{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block main %}
    <ul>
        {% for contribute in contributes %}
            <li>
                <div class="contribute-group">
                    <p class="contribute-title"><a href="{{ url_for('detail',contribute_id=contribute.id)
                            }}">{{ contribute.title }}</a></p>
                    <p class="contribute-content">{{ contribute.content }}</p>
                    <div class="contribute-info">
                        <span class="contribute-poet">{{ contribute.poet }}</span>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}